@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    background-color: #000;
    background-image: url("img/spacebg.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f3f3f3;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

a {
    color: #6DA1BB;
    text-decoration: none;
}

header {
    font-weight: 700;
    font-size: 2rem;
}

header span {
    display: inline-block;
    padding: 1rem;
    background: #fff;
    color: #000;
}

section {
    width: 960px; /* 64px * 15 ruter */
    height: 640px; /* 64px * 10 ruter */
    /* Oppgave 3 3): endret "section" til å reflektere størrelsen av spilleområdet. (940x640)
       Dette fikset samtidig en feil med at "GAME OVER!" teksten ikke reflekterte spilleområdet.
       Dette fikset også en feil med at spilleområdet ble feilplassert, fordi section var ikke samme størrelse.*/
}



aside {
    background: #000;
    color: gold;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

button {
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  button:hover {
    background-color: #4CAF50;
    color: white;
  }
/*  Lagt til styling og hover funkjson for button. Kun for morro/looks.
    Kilde style og hover av button: https://www.w3schools.com/tags/tag_button.asp*/