*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff; 
}

#front-page{
    display: grid;
    grid-template-areas: "header header header" 
                        "main main aside"
                        "footer footer footer";
    grid-template-columns: 1fr;
}

header h1{
    float: left;
    height: 50px;
}
 
header nav ul{
    float: right;
}

header nav ul li{
    display: inline-block;
    margin: 1rem;
    text-decoration: none;
}

header{
    grid-area: header;
    background-color: #6C757D;
}

header nav{
    float: right;
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    background-color: #6C757D;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* kilde for å få footer til å bli på bunnen av dokumentet: https://www.geeksforgeeks.org/how-to-create-footer-to-stay-at-the-bottom-of-a-web-page/ */

button{
    background-color: #CED4DA;
    color: black;
}

a:link{
    color: red;
}

a:hover{
    color: #DEE2E6;
}

a:active{
    color: #ADB5DB;
}
/* kilde for a:link etc https://www.w3schools.com/css/css_link.asp*/