/*color palette: https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #Dee2e6; 
}

body div{
    display: grid;
    grid-template-areas: "header header header" 
                        "main main aside"
                        "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
}

header h1{
    float: left;
    width: 400px;
    height: auto;
}
 
header nav ul{
    float: right;

}

header nav ul li{
    display: inline-block;
    margin: 0;
    text-decoration: none;
}

header{
    grid-area: header;
    background-color: #6C757D;
}


main{
    grid-area: main;
}

main h2{
    float: inline-end;
}

article{
    background-color: #E9ECEF;
    border-color: #212529;
}

article img{
    float: left;
    margin-right: 1rem;
    border: 1px solid #Dee2e6;
    border-radius: 3px;
}

main article{
    max-width: 0,33fr;
    width: 33%;
    height: 400px;
    float: left;
    border: 2px solid;
    padding: 1rem;
    margin: 1rem;
    overflow: auto;
    border-radius: 5px;
}
/*Kilde overflow: https://www.w3schools.com/css/css_overflow.asp*/

aside article{
    margin: 1rem;
    border: 3px solid;
    padding: 1rem;
    background-color: #E9ECEF;
    border-radius: 5px;
}
/*Kilde rounded borders: https://www.w3schools.com/css/css_border_rounded.asp*/

aside article img{
    border: none;
    margin-bottom: 1rem;
}

footer{
    grid-area: footer;
    background-color: #6C757D;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*kilde for å få footer til å bli på bunnen av dokumentet: https://www.geeksforgeeks.org/how-to-create-footer-to-stay-at-the-bottom-of-a-web-page/ */

/*underneath are all affixes for various elements*/
.resizeArticleImg{
    width: auto;
    height: 300px;
}

button{
    background-color: #CED4DA;
    color: black;
    border: #212529, 1px;
    border-radius: 5px;
}

button:hover{
    background-color: #ADB5BD;
}
/*kilde for å få farge med ""element":hover": https://www.w3schools.com/css/css_link.asp*/

img{
    max-width: 100%;
    max-height: auto;
}
/*kilde for å tilpasse bilder til div størrelser: https://stackoverflow.com/questions/4394309/how-do-i-fit-an-image-img-inside-a-div-and-keep-the-aspect-ratio*/

#readMore{
    width: 100%;
}

#menuButton{
    border: none;
    background-color: #6C757D;
    color: #f8f9fa;
    width: auto;
    height: 60px;
    font-size: large;
}

#menuButton:hover{
    background-color: #E9ECEF;
    color: black;
}